<div>
    <div>
        <form action="/api/auth/logout" method="get" id="form-logout">
            <button form="form-logout">Log out</button>
        </form>
    </div>


    <div>
        <h2>Bienvenido {{userLogged.first_name}}</h2>
        <p>{{userLogged.email}} </p>
        <p>{{userLogged.role}} </p>
        
    </div>


<div>
  <h1>Lista de los Productos</h1>
  <div>
    <ul id="list-products">
      {{#each docs}}
        <li>
          <h3>{{this.title}}</h3>
          <p>Id: {{this.id}} </p>
          <p>Description: {{this.description}} </p>
          <p>Code: {{this.code}} </p>
          <p>Price: ${{this.price}} </p>
          <p>Status: {{this.status}} </p>
          <p>Category: {{this.category}} </p>
          <p>Thumbnail: {{this.thumbnail}} </p>
        </li>
      {{/each}}
    </ul>
  </div>
  {{#if prevPage}}
    <a href="?limit={{limit}}&page={{prevPage}}">Anterior</a>
  {{/if}}
  {{page}}
  {{#if nextPage}}
    <a href="?limit={{limit}}&page={{nextPage}}">Siguiente</a>
  {{/if}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.js"></script>